* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#343a40 !important;
  color: white;
  text-align: center;
}
#sticky-footer {
  flex-shrink: none;
}

#myTopnav a{
  text-decoration: none;
  color: #ffffff;
}
li {
  list-style: none;
}
#err{
  color: red;
}
header {
  width: 100%;
  background: #000;
  display: flex;
}
.HeaderLogo {
  text-transform: uppercase;
  color: rgb(26, 200, 171);
  font-weight: 800;
  font-size: 38px;
  cursor: pointer;
  margin-top: 37px;
  margin-left: 12.1%;
}
nav {
  margin-top: 57px;
  margin-bottom: 20px;
  margin-left: 29%;
}
.topnav a {
  color: #fff;
  text-align: center;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: bold;
}
.topnav a:hover {
  border-bottom: 3px solid #fcac45;
}
.topnav .icon {
  display: none;
}

/* @media screen and (max-width: 1200px) {
  nav {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1105px) {
  nav {
    margin-left: 10%;
  }
}
@media screen and (max-width: 1010px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    margin-top: -17px;
    display: block;
    color: #fff;
    font-size: 25px;
  }
  nav {
    width: 100%;
  }
  .topnav.responsive {
    position: relative;
    top: 50px;
    left: -200px;
  }
  header .topnav.responsive {
    height: 340px;
  }
  .topnav.responsive a.icon {
    position: absolute;
    top: -50px;
    right: -200px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

.content h1 {
  text-align: center;
  padding: 5px 110px;
  font-size: 45px;
  color: #fcac45;
}
.content p {
  text-align: center;
  padding: 30px 300px;
  font-size: 24px;
  color: rgb(139, 200, 26);
}
.user {
  margin: 2cm 2%;
  border-radius: 2px;
  width: 100%;
  border-collapse: collapse;
  max-width: 95%;
}
.user th,
td {
  /* max-width: flex; */
  /* width:100%; */
  text-align: center;
  padding: 20px 200px;
  font-size: 20px;
}
.user th {
  background-color: cyan;
  color: black;
}
.user td {
  color: black;
}
.user tr {
  background-color: honeydew;
  color: black;
}
#t1 {
  background-color: slategray;
}

.avatar-user {
  max-width: 750px;
  min-width: 50px;
  max-height: 750px;
  min-height: 50px;

  /* border: 3px solid rgb(0, 219, 248); 
    position: relative;
    left:  500px;  */
  width: 30%;
  display: block;
  margin: 0 auto;
  border: 7px solid rgb(25, 201, 255);
  border-radius: 35%;
}

.avatar-user img {
  width: 100%;
  border-radius: 35%;
}

.info-user {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.fullname-user {
  margin-top: 15px;
  font-size: 1cm;
  color: brown;
}

.login-user {
  color: #fcac45;
}

#t2 a {
  text-align: left;
  font-size: 30px;
  color: crimson;
}
#t2 li {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 130px;
  width: 300px;
  background: darkkhaki;
  border: 3px solid rgb(0, 219, 248);
}

.photo-event {
  max-width: 450px;
  min-width: 50px;
  max-height: 450px;
  min-height: 50px;

  /* top: 17px; 
    position: relative;
    left:  700px;  */
  display: block;
  margin: 0 auto;
}

.photo-event img {
  width: 100%;
}
h1 {
  padding: 30px 780px;
  color: blueviolet;
}
.text h1,
h4 {
  padding: 30px 50px;
  font-size: 24px;
  color: cadetblue;
}
#t3 {
  font-size: 20px;
  margin-bottom: 20px;
}
#t5 {
  color: crimson;
}
h2 {
  color: cadetblue;
  margin-bottom: 40px;
}
#t6 {
  margin-bottom: 120px;
  color: rgb(178, 66, 243);
}
#t8 {
  padding: 15px 30px;
}
#q1 {
  font-size: 20px;
  color: red;
  padding: 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.calendar table {
  border-collapse: collapse;
  margin: 40px;

}

.calendar td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.calendar td th {
  font-weight: bold;
  background-color: #e6e6e6;
}

#t2 {
  background-color: red;
}

.log{
  margin-top: 57px;
  margin-bottom: 20px;
  margin-left: 19%;
  padding-left: 10px;
  text-align: right;
}
 
.log a{
  margin-left: 15px; 
  color: #fff;
}